/* The navigation bar on the top of the screen */
*, *::after, *::before {
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    margin: 0px 10%;
    text-align: center;
    overflow-wrap: anywhere;
    display: block;
    width: 80%;
}

.hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 99999;
    cursor: pointer;
}

:root {
    --bar-width: 50px;
    --bar-height: 10px;
    --hamburger-gap: 5px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-time: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --button-width: 19rem;
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

.hamburger:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger::before,
.hamburger::after,
.hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 4px;
    transform-origin: left center;
    /*border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);*/
    transition: opacity var(--animation-time), width var(--animation-time), rotate var(--animation-time), translate var(--animation-time), background-color var(--animation-time);
}

.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2)
}

.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2)
}

.hamburger input[id=hamburger]:checked {
    opacity: 0;
    width: 0;
}

.sidebar.one {
    transition: translate var(--animation-time), opacity var(--animation-time);
    translate: -100%;
    opacity: 0;
    z-index: 99990;
    padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem) 0.5rem 1rem 0.5rem;
    position: fixed;
    background-color: var(--foreground);
    color: var(--background);
    width: 20rem;
    min-height: 100vh;
    text-align: left;
}

.sidebar.two {
    transition: translate var(--animation-time), opacity var(--animation-time);
    translate: -100%;
    opacity: 0;
    z-index: 99991;
    padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem) 0.5rem 1rem 0.5rem;
    position: fixed !important;
    background-color: dimgray;
    color: var(--background);
    width: 20rem;
    min-height: 100vh;
    text-align: left;
    top: 0 !important;
    left: 0 !important;
}

nav input[name=menu] {
    display: none;
}

.hamburger:has(input:checked) + .sidebar.one {
    translate: 0;
    opacity: 95%;
}

.hamburger-btn {
    font-family: "Fredoka", serif;
    border-radius: 4px;
    text-decoration: none;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    padding: 2px 10px;
    width: var(--button-width);
    display: inline-block;
}

.hamburger-btn.one {
    background-color: gray;
    font-size: 40px;
    width: var(--button-width);
    text-align: left;
}

.hamburger-btn.two {
    background-color: darkgray;
    font-size: 35px;
    width: var(--button-width);
    text-align: center;
}

.hamburger-btn:hover {
    font-weight: 700;
}

nav input:checked + .hamburger-btn {
    font-weight: 700;
}

nav input:checked + .hamburger-btn + .sidebar.two {
    translate: 0;
    opacity: 100%;
}