html {
  font-family: "Book Antiqua";
}


/* Set up margins for headers */

h1 {
  letter-spacing: 2px;
  font-size: 60px;
  margin: 20px;
}

section h2 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Body sizing */
p {
  font-size: 20px;
}

/* To space the sections */
.spacing {
  margin-top: 80px !important;
}

/* Format of each individual section on a page */
.sect {
  background-color: #FEF9D0;
  display: inline-block;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cpy-w {
  background-color: #FBAD77;
  display: inline-block;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.filler {
  height: 100px;
  background-color: transparent;
}

/* Settings for main pages */
.main-p {
  
  background-image: url("/img/valley_portrait_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
  overflow-wrap: anywhere;
}

.jens-gettin-buff {
  
  background-image: url("/img/jens/the_cave_three.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
  overflow-wrap: anywhere;
}

.jens-theorizing {
  
  background-image: url("/img/jens/stock_space_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
  overflow-wrap: anywhere;
}

.jens-gaming {
  
  background-image: url("/img/jens/bros_cracked_at_fortnite_my_guy.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
  overflow-wrap: anywhere;
}

.coding-crcls {
  margin: 20px !important;
  background-color: darkred;
  color: #01DCFA;
  box-sizing: content-box !important;
  display: inline-block;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.exp-crcls {
  margin: 20px !important;
  background-color: darkblue;
  color: rgba(255, 207, 75, 0.747);
  box-sizing: content-box !important;
  display: inline-block;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.no-m {
  margin-top: 0;
  margin-bottom: 0;
}

.line {
  opacity: 100%;
}

/* Make the sections snap to the sides of the page */
.fullw {
  box-sizing: border-box;
  width: 100%;
}

.nfullw {
  box-sizing: content-box !important;
  width: auto;
}

/* The navigation bar on the top of the screen */
.navbar {
  position: fixed;
  margin: 0;
  text-align: center;
  overflow-wrap: anywhere;
  display: block;
}

/* Dropdown Buttons */
.btn {
  font-family: "Book Antiqua";
  /* background-color: rgba(251,127,77,.85); */
  background-color: gray;
  border-radius: 10px;
  /* background-color: transparent; */
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

.gamebtn {
  font-family: "Book Antiqua";
  text-decoration: none;
  background-color: gray;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.roastbtn {
  font-family: "Book Antiqua";
  text-decoration: none;
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

.roastbtntext {
  text-decoration: none;
  color: black;
}

/* How to decorate the text */
.btn-text {
  text-decoration: none;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-decoration: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hidden-link {
  color:inherit;
  text-decoration:inherit;
  cursor: text;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn-text:hover {color: aqua;}
.roastbtntext:hover {color: red;}

/* Animations between pages */
.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}
