* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", serif;
}

:root {
    --border-radius: 0.6vh;
    --small-padding: 0.5vh 1vh;
    --medium-padding: 0.3vh 0.5vh;
    --large-padding: 2vh 4vh;
}

body {
    margin: 1vh auto;
    font-family: "Fredoka", serif;
    font-weight: 300;
}

form {
    padding: var(--large-padding);
    display: flex;
    gap: 1vh;
    justify-content: center;
}

form label {
    font-size: 3vh;
    font-weight: bold;
}

input {
    font-family: "Fredoka", serif;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper,
#loginform {
    margin: 0 auto;
    padding-bottom: 2vh;
    background: #eee;
    height: 20vh;
    width: 60vh;
    max-width: 100%;
    border: 0.4vh solid #212121;
    border-radius: var(--border-radius);
}

#loginform {
    padding-top: 1vh;
    text-align: center;
}

#loginform p {
    padding: var(--large-padding);
    font-size: 2.7vh;
    font-weight: bold;
}

#loginform form {
    padding: var(--large-padding);
    font-size: 2.7vh;
    font-weight: bold;
    width: 58vh;
    height: 8vh;
}

.error {
    color: #ff0000;
    font-weight: 500;
    position: absolute;
    left: 45%;
    top: 16vh;
}

#chatbox {
    text-align: left;
    margin: 0 auto 0.5vh auto;
    padding: 1vh;
    background: #fff;
    height: 50vh;
    width: 54vh;
    border: 0.2vh solid #a7a7a7;
    overflow: auto;
    border-radius: var(--border-radius);
    border-bottom: 0.4vh solid #a7a7a7;
}

#usermsg {
    flex: 1;
    border-radius: var(--border-radius);
    border: 0.3vh solid #ff9800;
    padding: 0.3vh 0.5vh;
    box-sizing: border-box;
}

#name {
    border-radius: var(--border-radius);
    border: 0.3vh solid #ff9800;
    padding: 0.3vh 0.5vh;
}

#submitmsg, #enter{
    background: #ff9800;
    border: 0.3vh solid #e65100;
    color: white;
    padding: var(--small-padding);
    font-weight: bold;
    border-radius: var(--border-radius);
}

#menu {
    padding: var(--large-padding);
    display: flex;
}

#menu p.welcome {
    flex: 1;
}

a#exit {
    color: white;
    background: #c62828;
    padding: var(--small-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.msgln {
    margin: 0 0 .7vh 0;
}

.msgln span.left-info {
    color: orangered;
}

.msgln span.join-info {
    color: forestgreen;
}

.msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
}

.msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: var(--medium-padding);
    font-size: 90%;
    border-radius: var(--border-radius);
    margin: 0 0.5vh 0 0;
}

.msgln b.user-name, .msgln b.user-name-join {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: var(--medium-padding);
    font-size: 90%;
    border-radius: var(--border-radius);
    margin: 0 0.5vh 0 0;
}

.msgln b.user-name-left {
    background: orangered;
}

.msgln b.user-name-join {
    background: forestgreen;
}