* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", serif;
}

:root {
    --border-radius: 0.6vw;
    --small-padding: 0.5vh 1vw;
    --medium-padding: 0.3vh 0.5vw;
    --large-padding: 2vh 2vw;
}

body {
    font-family: "Fredoka", serif;
    font-weight: 300;
}

form {
    padding: var(--large-padding);
    display: flex;
    gap: 0.9vw;
    justify-content: center;
}

form label {
    font-size: 4vw;
    font-weight: bold;
}

input {
    font-family: "Fredoka", serif;
}

input:hover {
    text-decoration: underline;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#loginform {
    margin: 5vh auto;
    padding-bottom: 2vw;
    padding-top: 1vw;
    background: #eee;
    width: 69vw;
    border: 0.2vw solid #212121;
    border-radius: var(--border-radius);
    text-align: center;
}

#loginform p {
    padding: var(--large-padding);
    font-size: 3vw;
    font-weight: bold;
}

#enter{
    background: #ff9800;
    border: 0.2vw solid #e65100;
    color: white;
    padding: var(--small-padding);
    font-weight: bold;
    border-radius: var(--border-radius);
    font-size: 4vw;
}

#wrapper {
    margin: 10vh auto;
    padding-bottom: 2vh;
    background: #eee;
    width: 90vw;
    height: 80vh;
    border: 0.2vw solid #212121;
    border-radius: var(--border-radius);
}

#name {
    font-size: 3vw;
}

.error {
    color: #ff0000;
    font-weight: 500;
    position: absolute;
    left: 43.5vw;
    top: calc(10.5vh + 1.5vw);
    font-size: 1.2vw;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    padding: 1vh 1vw;
    background: #fff;
    width: 86vw;
    height: calc(70vh - 5vw);
    border: 0.2vw solid #a7a7a7;
    overflow: auto;
    border-radius: var(--border-radius);
    font-size: calc(4vh - 1vw);
}

#usermsg {
    flex: 1;
    border-radius: var(--border-radius);
    border: 0.2vw solid #ff9800;
    padding: 0.3vh 0.5vw;
    box-sizing: border-box;
}

#name {
    border-radius: var(--border-radius);
    border: 0.3vw solid #ff9800;
    padding: 0.3vw 0.5vw;
}

#submitmsg {
    background: #ff9800;
    border: 0.2vw solid #e65100;
    color: white;
    padding: var(--small-padding);
    font-weight: bold;
    border-radius: var(--border-radius);
}

#menu {
    padding: 2vh 2vw;
    display: flex;
}

#menu p.welcome {
    flex: 1;
    margin: auto 1vw auto 0;
}

a#exit {
    color: white;
    background: #c62828;
    padding: var(--small-padding);
    border-radius: var(--border-radius);
    font-weight: bold;
    margin: auto 0 auto 1vw;
}

#exit, #submitmsg, p.welcome, #usermsg {
    font-size: 1.9vw;
}

.msgln {
    margin: 0 0 .7vh 0;
}

.msgln span.left-info {
    color: orangered;
}

.msgln span.join-info {
    color: forestgreen;
}

.msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
}

.msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: var(--medium-padding);
    font-size: 90%;
    border-radius: var(--border-radius);
    margin: 0 0.5vw 0 0;
}

.msgln b.user-name, .msgln b.user-name-join {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: var(--medium-padding);
    font-size: 90%;
    border-radius: var(--border-radius);
    margin: 0 0.5vw 0 0;
}

.msgln b.user-name-left {
    background: orangered;
}

.msgln b.user-name-join {
    background: forestgreen;
}