:root {
    --scaling: 1.5vh;
}

/* phone */
@media screen and (max-width: 768px) {
    :root {
        --scaling: 2.5vw;
    }
}

/* phone portrait */
@media screen and (max-width: 480px) {
    :root {
        --scaling: 3vw;
    }
}

* {
    margin: 0;
    justify-items: center;
    font-family: "Fredoka", serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

h1 {
    font-size: calc(var(--scaling) * 4) !important;
    padding: 0 !important;
}

h1.signup {
    font-size: calc(var(--scaling) * 3) !important;
}

h2 {
    font-size: calc(var(--scaling) * 2) !important;
    padding: 0 !important;
}

hr {
    width: calc(var(--scaling) * 15);
    height: calc(var(--scaling) * 0.5);
    margin:
