.logo {
    background-image: url("https://gangdev.co/shared/files/img/favicon/new/web-app-manifest-512x512.png");
}

.sect.cont.entry h1 {
    font-size: calc(var(--scaling) * 2);
    font-weight: normal;
    letter-spacing: calc(var(--scaling) * 0.01);
}
.trademark {
    font-size: calc(var(--scaling) * 1);
    vertical-align: super;
}

.sect.cont#overview {
}
.sect.cont#overview h2 {
    font-weight: normal;
    font-size: calc(var(--scaling) * 1.9);
    margin-bottom: calc(var(--scaling) * 1.5);
    line-height: calc(var(--scaling) * 2.1);
}
.sect.cont#overview h2 b {
    font-size: calc(var(--scaling) * 2.3);
    font-weight: bolder;
}
.sect.cont#overview hr {
    width: calc(var(--scaling) * 25);
    height: calc(var(--scaling) * 0.2);
    margin-bottom: calc(var(--scaling) * 1.5);
    color: darkgray;
    border: none;
    background: white;
    border-radius: calc(var(--scaling) * 0.1);
}

.sect.cont#overview p {
    width: 100%;
    text-align: left;
    font-size: calc(var(--scaling) * 1);
}