.logo {
    background-image: url("https://gangdev.co/shared/files/img/favicon/new/web-app-manifest-512x512.png");
}

.sect.cont.entry h1 {
    font-size: calc(var(--scaling) * 2);
    font-weight: normal;
    letter-spacing: calc(var(--scaling) * 0.01);
}
.trademark {
    font-size: calc(var(--scaling) * 1);
    vertical-align: super;
}

.sect.cont#overview h2 {
    font-weight: normal;
    font-size: calc(var(--scaling) * 1.9);
    margin-bottom: calc(var(--scaling) * 1.5);
    line-height: calc(var(--scaling) * 2.1);
}
.sect.cont#overview h2 b {
    font-size: calc(var(--scaling) * 2.3);
    font-weight: bolder;
}
.sect.cont#overview hr {
    width: calc(var(--scaling) * 15);
    height: calc(var(--scaling) * 0.2);
    margin-bottom: calc(var(--scaling) * 1.5);
    color: darkgray;
    border: none;
    background: white;
    border-radius: calc(var(--scaling) * 0.1);
}

.sect.cont#products h2 {
    font-size: calc(var(--scaling) * 2.2);
    margin-bottom: calc(var(--scaling) * 0.5);
}
.sect.cont#products a:hover {
    color: #F7CBA4;
}
.sect.cont#products a b {
    color: lightgreen;
}
.sect.cont#products .columns {
    width: 100%;
    height: 100%;
    display: flex;
}
.sect.cont#products .columns .sect {
    width: 33.3333%;
    padding: calc(var(--scaling) * 2) calc(var(--scaling) * 0.75);
}
.sect.cont#products .columns.two .sect {
    width: 50%;
}
.sect.cont#products .columns .sect .cont {
    width: 100%;
}
.sect.cont#products .columns .sect .cont .link {
    width: 100%;
    margin-bottom: calc(var(--scaling) * 0.5);
    font-size: calc(var(--scaling) * 0.9);
    line-height: calc(var(--scaling) * 0.9);
}
.sect.cont#products .columns .games h2 {
    font-size: calc(var(--scaling) * 2.7);
}
