.logo {
    background-image: url("https://gangdev.co/shared/files/img/favicon/new/web-app-manifest-512x512.png");
}

.sect.cont.entry h1 {
    font-size: calc(var(--scaling) * 2);
    font-weight: normal;
    letter-spacing: calc(var(--scaling) * 0.01);
}
.trademark {
    font-size: calc(var(--scaling) * 1);
    vertical-align: super;
}

.sect.cont#overview {
}
.sect.cont#overview h2 {
    font-weight: bold;
    font-size: calc(var(--scaling) * 2);
    margin: calc(var(--scaling) * 1) 0;
}
.sect.cont#overview h2 b {
    font-weight: bolder;
}
.sect.cont#overview hr {
    width: calc(var(--scaling) * 2);
    color: darkgray;
}

.sect.cont#overview p {
    width: 100%;
    text-align: left;
    font-size: calc(var(--scaling) * 1);
}