/* UH yikes */
@media screen and (max-width: 240px) {
  :root {
    --scaling: 8vw;
  }
}

/* phone */
@media screen and (min-width: 241px) and (max-width: 480px) {
  :root {
    --scaling: 6vw;
  }
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --scaling: 4vh;
  }
}

/* monitor */
@media screen and (min-width: 769px) and (max-width: 1080px) {
  :root {
    --scaling: 4vh;
  }
}

/* big boi */
@media screen and (min-width: 1081px) {
  :root {
    --scaling: 4vh;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", serif;
}

html, body {
  width: 100%;
}

.warning {
  position: fixed;
  background: #fff3cd;
  z-index: 5000;
  padding: calc(var(--scaling) * 0.3) calc(var(--scaling) * 1) !important;
}
.warning h2 {
  font-size: calc(var(--scaling) * 0.7);
}
.warning p {
  font-size: calc(var(--scaling) * 0.5);
  color: red;
}

.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.background.visible {
  opacity: 1;
}

.sect {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sect.cont {
  min-height: 100vh;
  padding: calc(var(--scaling) * 1.5);
}
.sect.altCont {
  min-height: 10vh;
  padding: calc(var(--scaling) * 0.3);
}

.sect.cont.entry {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.sect.cont.entry h1 {
  font-size: calc(var(--scaling) * 2);
  font-weight: normal;
  letter-spacing: calc(var(--scaling) * 0.01);
}

.sect.cont.one {
  background: #99c6ff;
}
.sect.cont.two {
  background: #5c98e1;
}
.sect.cont.three {
  background: #75a3d6;
}
.sect.cont.four {
  background: #87aedd;
}

.sect.cont h2 {
  font-size: calc(var(--scaling) * 1);
}
.sect.cont p {
  font-size: calc(var(--scaling) * 0.8);
}

.footer {
  background: gray;
}
.footer p {
  font-size: calc(var(--scaling) * 0.8);
  color: white
}

h1.shimmer-txt {
  color: black;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
h1.shimmer-txt:hover {
  color: transparent;
  transform: scale(1.01);
  background: linear-gradient(90deg, black, white, black);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
}
.shimmer {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.shimmer::after {
  content: "";
  position: absolute;
  top: calc(var(--scaling) * -0.2);
  left: calc(var(--scaling) * -0.2);
  right: calc(var(--scaling) * -0.2);
  bottom: calc(var(--scaling) * -0.2);
  border-radius: calc(var(--scaling) * 1.1);
  background: linear-gradient(90deg, transparent, white, transparent);
  background-size: 200% 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.shimmer:hover::after {
  opacity: 0.5;
  animation: shimmer 3s infinite;
}
@keyframes shimmer {
  0% { background-position: 200% 0 }
  100% { background-position: -200% 0 }
}
.shimmer div {
  width: calc(var(--scaling) * 5);
  height: calc(var(--scaling) * 5);
  box-shadow: 0 0 calc(var(--scaling) * 0.5) whitesmoke;
  border-radius: calc(var(--scaling) * 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 0.3s ease;
}
.shimmer div:hover {
  transform: scale(1.01);
}

/* How to decorate the text */
.btn-text {
  text-decoration: none;
  color: white;
}

.hidden-link {
  color:inherit;
  text-decoration:inherit;
  cursor: text;
}

.btn:hover .btn-text{
  /* color: aqua; */
  font-weight: 700;
}

a:hover{
  /* color: aqua; */
  font-weight: 700;
}

/* Animations between pages */
.animate-in {
  -webkit-animation: fade-in 0.5s ease-in;
  animation: fade-in 0.5s ease-in;
}

.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}