/* UH yikes */
@media screen and (max-width: 240px) {
  :root {
    --scaling: 8vw;
  }
}

/* phone */
@media screen and (min-width: 241px) and (max-width: 480px) {
  :root {
    --scaling: 6vw;
  }
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --scaling: 2vw;
  }
}

/* monitor */
@media screen and (min-width: 769px) and (max-width: 1080px) {
  :root {
    --scaling: 2vw;
  }
}

/* big boi */
@media screen and (min-width: 1081px) {
  :root {
    --scaling: 2vw;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  scroll-behavior: smooth;
}

.warning {
  position: fixed;
  background: #fff3cd;
  z-index: 5000;
  padding: calc(var(--scaling) * 0.3) calc(var(--scaling) * 1) !important;
}
.warning h2 {
  font-size: calc(var(--scaling) * 0.7);
}
.warning p {
  font-size: calc(var(--scaling) * 0.5);
  color: red;
}

.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.background.visible {
  opacity: 1;
}

.sect {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sect.cont {
  min-height: 100vh;
  padding: calc(var(--scaling) * 1.5);
  position: relative;
}
.sect.single {
  min-height: 90vh;
  padding: calc(var(--scaling) * 0.9);
}
.sect.altCont {
  min-height: 10vh;
  padding: calc(var(--scaling) * 0.3);
}

.sect.cont.entry {
  position: relative;
  overflow: hidden;
}
.sect.cont.entry h1 {
  font-size: calc(var(--scaling) * 2);
  font-weight: normal;
  letter-spacing: calc(var(--scaling) * 0.01);
}
.sect.cont.entry h2 {
  font-size: calc(var(--scaling) * 0.5);
  font-weight: normal;
  letter-spacing: calc(var(--scaling) * 0.01);
}

.sect.one {
  background: #ECEFF1;
  color: #333333;
}
.sect.two {
  background: #2B5C6E;
  color: #FFFFFF;
}
.sect.three {
  background: #70838F;
  color: #FFFFFF;
}
.sect.four {
  background: #F7CBA4;
  color: #333333;
}

.sect.cont h2 {
  font-size: calc(var(--scaling) * 1);
}
.sect.cont#overview p.desc {
  font-size: calc(var(--scaling) * 1);
  width: 100%;
  text-align: left;
}
.sect.cont p.desc {
  font-size: calc(var(--scaling) * 0.8);
}

.sect.single h1 {
  font-size: calc(var(--scaling) * 2);
}
.sect.single h2 {
  font-size: calc(var(--scaling) * 1);
}

.footer {
  background: #1D3A4D;
}
.footer p {
  font-size: calc(var(--scaling) * 0.8);
  color: white
}

.shimmerText {
  color: black;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.shimmerText:hover {
  color: transparent;
  transform: scale(1.01);
  background: linear-gradient(90deg, black, white, black);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
}
.shimmer {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.shimmer::after {
  content: "";
  position: absolute;
  top: calc(var(--scaling) * -0.2);
  left: calc(var(--scaling) * -0.2);
  right: calc(var(--scaling) * -0.2);
  bottom: calc(var(--scaling) * -0.2);
  border-radius: calc(var(--scaling) * 1.1);
  background: linear-gradient(90deg, transparent, white, transparent);
  background-size: 200% 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.shimmer:hover::after {
  opacity: 0.5;
  animation: shimmer 3s infinite;
}
@keyframes shimmer {
  0% { background-position: 200% 0 }
  100% { background-position: -200% 0 }
}
.shimmer div {
  width: calc(var(--scaling) * 5);
  height: calc(var(--scaling) * 5);
  box-shadow: 0 0 calc(var(--scaling) * 0.5) whitesmoke;
  border-radius: calc(var(--scaling) * 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 0.3s ease;
}
.shimmer div:hover {
  transform: scale(1.01);
}

a {
  text-decoration: none;
  color: inherit;
}
.btnText {
  text-decoration: none;
  color: white;
}

.hidden-link {
  color:inherit;
  text-decoration:inherit;
  cursor: text;
}

/* universal contact form */
.sect.cont#contact h2 {
  font-size: calc(var(--scaling) * 2.5);
  height: calc(var(--scaling) * 2.6);
}
.sect.cont#contact a {
  font-size: calc(var(--scaling) * 0.5);
  margin-bottom: calc(var(--scaling) * 0.75);
}
.sect.cont#contact .details {
  justify-items: left;
}
.sect.cont#contact label {
  font-size: calc(var(--scaling) * 0.8);
}
.sect.cont#contact .info {
  width: calc(var(--scaling) * 15);
  margin-bottom: calc(var(--scaling) * 0.22)
}
.sect.cont#contact input {
  font-size: calc(var(--scaling) * 0.7);
  padding: calc(var(--scaling) * 0.2);
  width: 100%;
  border-radius: calc(var(--scaling) * 0.05);
  border: calc(var(--scaling) * 0.02) solid gray;
}
.sect.cont#contact textarea {
  resize: none;
  font-size: calc(var(--scaling) * 0.75);
  padding: calc(var(--scaling) * 0.2);
  width: calc(var(--scaling) * 15);
  border-radius: calc(var(--scaling) * 0.05);
  border: calc(var(--scaling) * 0.02) solid gray;
}
.sect.cont#contact button {
  font-size: calc(var(--scaling) * 0.9);
  padding: calc(var(--scaling) * 0.1) calc(var(--scaling) * 0.3);
  margin-top: calc(var(--scaling) * 1);
  background: darkgray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: calc(var(--scaling) * 0.2);
  box-shadow: calc(var(--scaling) * 0.02) calc(var(--scaling) * 0.045) gray;
  transition: all 0.2s ease;
}
.sect.cont#contact button:hover {
  transform: scale(1.05);
  font-weight: bold;
}

/* basic universal styling */
.btn:hover .btnText{
  font-weight: 700;
}
a:hover{
  font-weight: 700;
}

/* Animations between pages */
.animate-in {
  -webkit-animation: fade-in 0.5s ease-in;
  animation: fade-in 0.5s ease-in;
}
.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}
#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}
#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}