:root {
  --scaling: 1.5vh;
}

/* phone */
@media screen and (max-width: 768px) {
  :root {
    --scaling: 2.5vw;
  }
}

/* phone portrait */
@media screen and (max-width: 480px) {
  :root {
    --scaling: 3vw;
  }
}

* {
  margin: 0;
  font-family: "Fredoka", serif;
}

html, body {
  font-family: "Fredoka", serif;
  width: 100vw;
}

/* Set up margins for headers */
h1 {
  letter-spacing: 0.15vw;
  font-size: 4vw;
  padding: 1vh 1vw;
  margin: 0;
}

section h2 {
  font-size: 2.4vw;
  margin: 1vh auto 0 auto;
}

h3 {
  font-size: 1.7vw;
  margin: 1vh auto 0 auto;
}

/* Body sizing */
p {
  font-size: 1.5vw;
  margin: 0;
}

.mainSect {
  background-image: url("https://shared.gangdev.co/files/img/background/home_background_1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.mainSect h1 {
  font-size: calc(var(--scaling) * 2);
  font-weight: normal;
  width: fit-content;
  letter-spacing: calc(var(--scaling) * 0.01);
}
.trademark {
  font-size: calc(var(--scaling) * 1);
  vertical-align: super;
}
h1.shimmer-txt {
  cursor: pointer;
  transition: all .3s ease;
}
h1.shimmer-txt:hover {
  color: transparent;
  transform: scale(1.05);
  background: linear-gradient(90deg, black, white, black);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s infinite;
}
.shimmer {
  display: inline-block;
  z-index: 1;
}
.shimmer::after {
  content: "";
  position: absolute;
  top: calc(var(--scaling) * -0.2);
  left: calc(var(--scaling) * -0.2);
  right: calc(var(--scaling) * -0.2);
  bottom: calc(var(--scaling) * -0.2);
  border-radius: calc(var(--scaling) * 1.1);
  background: linear-gradient(90deg, transparent, white, transparent);
  background-size: 200% 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity .3s ease;
}
.shimmer:hover::after {
  opacity: .5;
  animation: shimmer 2s infinite;
}
@keyframes shimmer {
  0% { background-position: 200% 0 }
  100% { background-position: -200% 0 }
}

.shimmer img {
  width: calc(var(--scaling) * 5);
  height: calc(var(--scaling) * 5);
  box-shadow: 0 0 calc(var(--scaling) * 0.5) whitesmoke;
  border-radius: calc(var(--scaling) * 1);
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 0.3s ease;
}
.shimmer img:hover {
  transform: scale(1.05);
}


/* To space the sections */
.spacing {
  margin-top: 8vh !important;
}

/* Format of each individual section on a page */
.sect {
  background-color: #FEF9D0;
  display: inline-block;
  margin: 0;
  box-shadow: 0 0.8vw 2vh 0 rgba(0,0,0,0.2);
  padding: 1vh 1vw;
}

.cpy-w {
  background-color: #FBAD77;
  display: inline-block;
  margin: 0;
  box-shadow: 0 0.8vw 2vh 0 rgba(0,0,0,0.2);
}

/* Settings for main pages */
.main-p {
  background-image: url("https://shared.gangdev.co/files/img/background/home_background_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;

  background-color: whitesmoke;
  text-align: center;
  margin: 0;
  overflow-wrap: anywhere;
}

.no-m {
  margin: 0 auto !important;
}

/* Make the sections snap to the sides of the page */
.fullw {
  box-sizing: border-box;
  width: 100%;
}
.fullw p {
  padding: 2vh 2vw;
}
.fullw-r {
  box-sizing: border-box;
  width: 90%;
  margin-left: 10%;
}
.fullw-l {
  box-sizing: border-box;
  width: 90%;
  margin-right: 10%;
}

.nfullw {
  box-sizing: content-box !important;
  width: auto !important;
}

/* How to decorate the text */
.btn-text {
  text-decoration: none;
  color: white;
}

.hidden-link {
  color:inherit;
  text-decoration:inherit;
  cursor: text;
}

.btn:hover .btn-text{
  /* color: aqua; */
  font-weight: 700;
}

a:hover{
  /* color: aqua; */
  font-weight: 700;
}

/* Animations between pages */
.animate-in {
  -webkit-animation: fade-in .5s ease-in;
  animation: fade-in .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}