* {
  padding: 0;
  margin: auto;
}

:root {
  --game-width: 50vh;
  --game-height: 30vh;
  --game-border: .5vh;

  --extra-width: calc((100% - var(--game-width)) / 2);
  --extra-height: calc(100% - var(--game-height));

  --spacing: 0.1vh;
  --border-spacing: calc(var(--game-border) + var(--spacing));

  --character-height: 6vh;
  --character-width: 3vh;
  --character-left: calc(var(--extra-width) + var(--border-spacing));
  --character-bottom: calc(var(--extra-height) + var(--border-spacing));

  --enemy-height: 2.5vh;
  --enemy-width: 2.5vh;
  --enemy-right: calc(var(--extra-width) + var(--border-spacing));
  --enemy-bottom: calc(var(--extra-height) + var(--border-spacing));

  --enemy-start: calc(var(--extra-width) - var(--spacing) - var(--enemy-width));
  --enemy-finish: calc(var(--extra-width) + var(--game-width) + var(--spacing));

  --jump-spacing: 2vh;
  --jump-time: 500ms;
  --character-jump: calc(var(--character-bottom) + var(--enemy-height) + var(--jump-spacing));
}

#game{
  width: var(--game-width);
  height: var(--game-height);
  border: var(--game-border) solid black;
}

#character{
  margin: 0;
  width: var(--character-width);
  height: var(--character-height);
  background-color: blue;
  position: absolute;
  left: var(--character-left);
  bottom: var(--character-bottom);
}

#enemy {
  margin: 0;
  width: var(--enemy-width);
  height: var(--enemy-height);
  background-color: red;
  position: absolute;
  right: var(--enemy-right);
  bottom: var(--enemy-bottom);
  animation: block 1s infinite linear;
}

.animate {
  animation: jump var(--jump-time);
}

@keyframes jump {
  0%{bottom: var(--character-bottom);}
  30%{bottom: var(--character-jump);}
  70%{bottom: var(--character-jump);}
  100%{bottom: var(--character-bottom);}
}

@keyframes block {
  0%{right: var(--enemy-start);}
  100%{right: var(--enemy-finish);}
}

/*
.scoreboard {
  padding: 4px;
  background-color: bisque;
  width: 300px;
  height: 500px;
  border: 2px solid black;
}

.popup {
  height: 300px;
  width: 300px;
  background-color: royalblue;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  box-shadow: 0 2px 5px black;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  display: grid;
  grid-auto-rows: 110px;
}

.popupbtn {
  padding: 10px 50px;
  background: darkgray;
  border:0;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  font-weight: 500;
  border-radius: 30px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 1px 2px black;
}

.tnybtnuwu {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: darkgray;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 200;
  border-radius: 30px;
  box-shadow: 0 1px 1px black;
}

.popup img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.openpopup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.submit {
  visibility: hidden;
}

#submit2, #submit3 {
  grid-column: 1;
  grid-row: 2;
}
*/
.timer {
  text-align: center;
  margin: 10px;
}