input[type=text] {
    width: 15vh;
    height: 2.3vh;
    box-sizing: border-box;
    border: solid gray 1px;
}

input {
    height: 1.5vh;
}

.output {
    margin: 0 !important;
    background-color: white;
    color: royalblue;
    box-sizing: content-box !important;
    display: inline-block;
    padding: 1vh;
    border-radius: .5vh;
    border: solid gray .3vh;
}

.fbtn {
    margin-left: 2vh !important;
    margin-right: 2vh !important;
    background-color: white;
    color: black;
    box-sizing: content-box !important;
    display: inline-block;
    padding: 1vh;
    border-radius: .5vh;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    border: solid black .3vh;
}

.fbtn:hover {
    color: gray;
}