body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.recoveryContainer {
    color: whitesmoke;
    background: #e39b5a;
    box-shadow: 0 0 calc(var(--scaling) * 0.5) gray;
    display: inline-block;
    border-radius: calc(var(--scaling) * 0.17);
    padding: calc(var(--scaling) * 1.5);
    width: calc(var(--scaling) * 19);
}

.recoveryContainer h1 {
    font-size: calc(var(--scaling) * 2);
    padding: 0;
    height: calc(var(--scaling) * 1.9);
}
.recoveryContainer h2 {
    font-size: calc(var(--scaling) * 1);
    padding: 0;
    height: calc(var(--scaling) * 0.6);
}

.recoveryContainer p {
    font-size: calc(var(--scaling) * 0.75);
}

.recoveryContainer form label {
    font-size: calc(var(--scaling) * 1);
}
.inputContainer {
    width: calc(var(--scaling) * 10);
    justify-items: left;
    text-align: left;
}
.inputContainer input {
    box-sizing: border-box;
    border-radius: calc(var(--scaling) * 0.17);
    padding: calc(var(--scaling) * 0.17);
    height: calc(var(--scaling) * 1.5);
    min-width: 100%;
    font-size: calc(var(--scaling) * 0.8);
    background: whitesmoke;
    border: none;
    transition: all 0.2s ease;
}

.mTop {
    margin-top: calc(var(--scaling) * 0.75);
}

.submit {
    font-size: calc(var(--scaling) * 0.9);
    padding: calc(var(--scaling) * 0.11) calc(var(--scaling) * 0.5);
    margin: 0 calc(var(--scaling) * 0.25);
    background: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: calc(var(--scaling) * 0.17);
    box-shadow: calc(var(--scaling) * 0.05) calc(var(--scaling) * 0.1) gray;
    transition: all 0.2s ease;
}

.inputDiv {
    margin: calc(var(--scaling) * 0.5);
}

.centeredDiv {
    display: flex;
    justify-content: center;
}

.margin {
    margin: calc(var(--scaling) * 0.5) 0;
}

.recoveryContainer form input:hover {
    transform: scale(1.01);
}

.submit:hover {
    transform: scale(1.05);
    font-weight: bold;
}