input[type=text] {
    width: 10%;
    box-sizing: border-box;
}

.output {
    background-color: indianred;
}

.coding-crcls {
    margin: 20px !important;
    background-color: whitesmoke;
    color: darkkhaki;
    box-sizing: content-box !important;
    display: inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}