input[type=text] {
    width: 10%;
    box-sizing: border-box;
}

.output {
    margin: 0px !important;
    background-color: whitesmoke;
    color: royalblue;
    box-sizing: content-box !important;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: black 20px !important;
}

.fbtn {
    margin-left: 15px !important;
    margin-right: 15px !important;
    background-color: #FBAD77;
    color: black;
    box-sizing: content-box !important;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 21px;
    font-family: "Book Antiqua";
    border: none;
    cursor: pointer;
}

.fbtn:hover {
    color: royalblue;
}