:root {

}

html {
  font-family: "Fredoka", serif;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fredoka-custom {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* 300 700 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* main code stuff */

