:root {
  --universal-spacing: 1vh;
}

html {
  font-family: "Fredoka", serif;
  box-sizing: border-box;
}

/* main code stuff */

/*

.home {
  background-color: hotpink;
  background-image: url("/files/evening-valley.webp");
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

.section-0 {
  padding: var(--universal-spacing);
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: rgba(251, 251, 251, 0.0);
}

.section-1 {
  padding: var(--universal-spacing);
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: rgba(251, 251, 251, 0.2);
}

.section-2 {
  padding: var(--universal-spacing);
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: rgba(251, 251, 251, 0.4);
}

.section-3 {
  padding: var(--universal-spacing);
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: rgba(251, 251, 251, 0.6);
}

.section-4 {
  padding: var(--universal-spacing);
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: rgba(251, 251, 251, 0.8);
}

 */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/*
.navbar {
  height: 100%;
  width: 8%;
  background-color: white;
  border-radius: .1vw;
  position: fixed;
  box-shadow: 0 0.8vw 2vh 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbtn {
  margin: 1vw auto !important;
  padding: 1vw;
  font-size: 5vw;
  background-color: whitesmoke;
  box-shadow: 0 0.8vw 2vh 0 rgba(0,0,0,0.2);
  border-radius: 0.5vw;
  text-align: center;
}
*/

.subject {
  margin: 0 auto;
  /* width: 40.75%; */
  height: 100%;
  box-sizing: border-box;
  align-self: center;
  background-image: url("/files/img/dating/black.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 1vw;
}

.skip {
  width: 50%;
  height: 100%;
  float: left;
}

.match {
  width: 50%;
  height: 100%;
  float: left;
}

.btn {
  width: 100%;
  height: 100%;
}