:root {
    --scaling: 1vh;
}

h2 {
    margin: calc(var(--scaling) * 2) calc(var(--scaling) * 1) !important;
    font-size: calc(var(--scaling) * 1);
    font-weight: normal;
    text-align: center;
    width: max-content !important;
}
h2 b {
    color: white;
}

.aSect {
    padding: calc(var(--scaling) * 1);
}

.deleteHeader {
    justify-items: center;
}

.info {
    margin: calc(var(--scaling) * 1) auto;
    padding: calc(var(--scaling) * 1);
    border-radius: calc(var(--scaling) * 1);
    background: darkgray;
    justify-items: center;
    width: max-content !important;
}

.icon {
    width: calc(var(--scaling) * 8);
    height: calc(var(--scaling) * 8);
    margin: calc(var(--scaling) * 1) auto;
    padding: calc(var(--scaling) * 0.5);
    border-radius: calc(var(--scaling) * 1);
    background-color: gray;
}
#iDisplay {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: calc(var(--scaling) * 0.7);
    background-color: darkgray;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}

#cropModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: auto;
    margin: 0;
}
#cropContent {
    background: #fff;
    padding: calc(var(--scaling) * 3);
    border-radius: calc(var(--scaling) * 1);
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    text-align: center;
}
#cropConfirm {
    position: absolute;
    bottom: 5vh;
    font-family: "Fredoka", serif;
    text-decoration: none;
    cursor: pointer;
    background: darkgray;
    color: white;
    font-weight: bold;
    border-radius: calc(var(--scaling) * 1);
    font-size: calc(var(--scaling) * 1.5);
    padding: calc(var(--scaling) * .75);
    margin: calc(var(--scaling) * 1) auto !important;
    transition: all 0.3s ease;
}

.sign {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background: darkgray;
    color: white;
    font-weight: bold;
    border-radius: calc(var(--scaling) * 1);
    font-size: calc(var(--scaling) * 1.5);
    padding: calc(var(--scaling) * .75);
    margin: calc(var(--scaling) * 1) auto !important;
    transition: all 0.3s ease;
}

.button {
    font-size: calc(var(--scaling) * 2) !important;
    padding: calc(var(--scaling) * 0.4);
    margin: calc(var(--scaling) * 2) auto;
    width: calc(var(--scaling) * 5);
    height: calc(var(--scaling) * 4);
    background: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: calc(var(--scaling) * 1);
    box-shadow: calc(var(--scaling) * 0.1) calc(var(--scaling) * 0.2) gray;
    transition: all 0.2s ease;
}

#iDisplay:hover {
    background: #333;
    opacity: .7;
}
.sign:hover {
    transform: scale(1.05);
}
.button:hover {
    transform: scale(1.05);
    font-weight: bold;
}