:root {
    --scaling: 1vh;
}

.aSect {
    justify-items: center;
}

.icon {
    width: calc(var(--scaling) * 8);
    height: calc(var(--scaling) * 8);
    margin: 0;
    padding: calc(var(--scaling) * 0.5);
    border-radius: calc(var(--scaling) * 1);
    background-color: gray;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.iDisplay {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-self: center;
    border-radius: calc(var(--scaling) * 0.7);
    background-color: darkgray;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sign {
    text-decoration: none;
    cursor: pointer;
    background: darkgray;
    color: white;
    font-weight: bold;
    border-radius: calc(var(--scaling) * 2);
    font-size: calc(var(--scaling) * 2);
    padding: calc(var(--scaling) * 1);
    transition: all 0.3s ease;
}

.sign:hover {
    transform: scale(1.05);
}