* {
    box-sizing: border-box;
}

#tableContainer {
    min-width: calc(var(--scaling) * 30.2);
    max-height: calc(var(--scaling) * 10); /* Adjust to fit your layout */
    overflow-y: auto;
    border-radius: calc(var(--scaling) * 0.05);
    border: calc(var(--scaling) * 0.05) solid #ccc; /* Optional for visual separation */
    padding: calc(var(--scaling) * 0.25);
    margin: calc(var(--scaling) * 0.5);
    justify-content: center;
    display: block;
    background: white;
}

input[type=number] {
    width: calc(var(--scaling) * 1.05);
    height: calc(var(--scaling) * 0.75);
    border-radius: calc(var(--scaling) * 0.05);
    border: solid gray calc(var(--scaling) * 0.05);
    margin: calc(var(--scaling) * 0.2);
    font-size: calc(var(--scaling) * 0.4);
}

input[type=number]#championId {
    width: calc(var(--scaling) * 2);
    height: calc(var(--scaling) * 1);
    font-size: calc(var(--scaling) * 0.8);
}

input[type=text] {
    width: calc(var(--scaling) * 5);
    height: calc(var(--scaling) * 1);
    border-radius: calc(var(--scaling) * 0.05);
    border: solid gray calc(var(--scaling) * 0.05);
    margin: calc(var(--scaling) * 0.25);
    font-size: calc(var(--scaling) * 0.8);
}

input[type=range] {
    margin: calc(var(--scaling) * 0.2);
    width: calc(var(--scaling) * 4);
}
select {
    width: calc(var(--scaling) * 5);
    height: calc(var(--scaling) * 1);
    font-size: calc(var(--scaling) * 0.5);
}

.stat-group {
    margin-bottom: calc(var(--scaling) * 0.1);
}

.category-row {
    margin: calc(var(--scaling) * 0.05) 0;
}
.category-row select {
    margin-right: calc(var(--scaling) * 0.1);
}

#championTable {
    max-width: calc(var(--scaling) * 30);
    border-collapse: collapse;
}

#championTable, #championTable th, #championTable td {
    border: calc(var(--scaling) * 0.05) solid gray;
    padding: calc(var(--scaling) * 0.1) calc(var(--scaling) * 0.2);
    text-align: center;
}

#championTable tbody {
    padding-top: calc(var(--scaling) * 0.9);
    display: block;
}
th {
    min-width: calc(var(--scaling) * 1);
    min-height: calc(var(--scaling) * 1);
    font-size: calc(var(--scaling) * 0.5);
    background-color: rgba(1, 1, 1, 0.25);
}
td {
    min-width: calc(var(--scaling) * 1);
    min-height: calc(var(--scaling) * 1);
    font-size: calc(var(--scaling) * 0.5);
}

.center {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: block;
}

.id {
    min-width: calc(var(--scaling) * 1.5);
}
.name {
    min-width: calc(var(--scaling) * 4.5);
}
.key {
    min-width: calc(var(--scaling) * 4.5);
}
.categories {
    width: calc(var(--scaling) * 9);
}
.actions {
    min-width: calc(var(--scaling) * 4);
}

.output {
    margin: 0 !important;
    background-color: white;
    color: royalblue;
    display: inline-block;
    padding: calc(var(--scaling) * 0.5);
    border-radius: calc(var(--scaling) * 0.05);
    border: solid gray calc(var(--scaling) * 0.05);
}

.btn {
    margin: calc(var(--scaling) * 0.03) calc(var(--scaling) * 0.1);
    padding: calc(var(--scaling) * 0.03) calc(var(--scaling) * 0.08);
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: calc(var(--scaling) * 0.05);
    text-decoration: none;
    font-size: calc(var(--scaling) * 0.5);
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 calc(var(--scaling) * 0.05) gray;
    transition: all 0.2s ease;
}
.small.btn {
    font-size: calc(var(--scaling) * 0.4);
    box-shadow: 0 0 calc(var(--scaling) * 0.008) gray;
}
.add {
    font-size: calc(var(--scaling) * 0.6);
    box-shadow: 0 0 calc(var(--scaling) * 0.01) gray;
    height: calc(var(--scaling) * 1);
}
.x {
    background: none;
    color: red;
    border: none;
}

.btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}
.x:hover {
    transform: scale(1.05);
}

textarea {
    width: 90%;
    margin: calc(var(--scaling) * 1) 0;
}
