input[type=number] {
    width: calc(var(--scaling) * 0.95);
    height: calc(var(--scaling) * 0.75);
    box-sizing: border-box;
    border-radius: calc(var(--scaling) * 0.05);
    border: solid gray calc(var(--scaling) * 0.05);
    margin: calc(var(--scaling) * 0.2);
}

input[type=number]#championId {
    margin: calc(var(--scaling) * 0.4) calc(var(--scaling) * 1);
    width: calc(var(--scaling) * 1.2);
    height: calc(var(--scaling) * 1);
}

input[type=text] {
    width: calc(var(--scaling) * 5);
    height: calc(var(--scaling) * 1);
    box-sizing: border-box;
    border-radius: calc(var(--scaling) * 0.05);
    border: solid gray calc(var(--scaling) * 0.05);
    margin: calc(var(--scaling) * 0.4) calc(var(--scaling) * 1);
}

input[type=range] {
    margin: calc(var(--scaling) * 0.2);
    width: calc(var(--scaling) * 3);
}

input[type=checkbox] {
    margin: calc(var(--scaling) * 0.2);
}
input[type=radio] {
    margin: calc(var(--scaling) * 0.2);
}

.stat-group {
    margin-bottom: calc(var(--scaling) * 0.1);
}

.category-row {
    margin: calc(var(--scaling) * 0.05) 0;
}
.category-row select {
    margin-right: calc(var(--scaling) * 0.1);
}

table {
    border-collapse: collapse;
    margin: calc(var(--scaling) * 0.5) 0;
    width: 90%;
}

table, th, td {
    border: calc(var(--scaling) * 0.05) solid gray;
    padding: calc(var(--scaling) * 0.1) calc(var(--scaling) * 0.2);
    text-align: center;
}

td {
    min-width: calc(var(--scaling) * 3);
}

.output {
    margin: 0 !important;
    background-color: white;
    color: royalblue;
    display: inline-block;
    padding: calc(var(--scaling) * 0.5);
    border-radius: calc(var(--scaling) * 0.05);
    border: solid gray calc(var(--scaling) * 0.05);
}

.btn {
    margin: calc(var(--scaling) * 0.1);
    padding: calc(var(--scaling) * 0.04) calc(var(--scaling) * 0.1);
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: calc(var(--scaling) * 0.05);
    text-decoration: none;
    font-size: calc(var(--scaling) * 0.5);
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 calc(var(--scaling) * 0.05) gray;
    transition: all 0.2s ease;
}
.small.btn {
    font-size: calc(var(--scaling) * 0.3);
    box-shadow: 0 0 calc(var(--scaling) * 0.008) gray;
}

.btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.03);
}

textarea {
    width: 90%;
    margin: calc(var(--scaling) * 1) 0;
}
