.jens-gettin-buff {

    background-image: url("/img/jens/the_cave_three.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: whitesmoke;
    text-align: center;
    margin: 0;
    overflow-wrap: anywhere;
}

.jens-theorizing {

    background-image: url("/img/jens/stock_space_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: whitesmoke;
    text-align: center;
    margin: 0;
    overflow-wrap: anywhere;
}

.jens-gaming {

    background-image: url("/img/jens/bros_cracked_at_fortnite_my_guy.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: whitesmoke;
    text-align: center;
    margin: 0;
    overflow-wrap: anywhere;
}

.coding-crcls {
    margin: 20px !important;
    background-color: darkred;
    color: #01DCFA;
    box-sizing: content-box !important;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.exp-crcls {
    margin: 20px !important;
    background-color: darkblue;
    color: rgba(255, 207, 75, 0.747);
    box-sizing: content-box !important;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}