:root {
    --hexagon-scaling: 15;
    --hexagon-width: calc(var(--hexagon-scaling) * 1vh);
    --hexagon-height: calc(var(--hexagon-scaling) * 0.57735026919vh);
    --hexagon-border: 0.3vh;
    --hexagon-margin-side: clamp(0.5vh, 2vw, 1vh);
}

.shimmer div.jens {
    background-image: url('https://gangdev.co/shared/files/img/jens/icon.webp');
    border: calc(var(--scaling) * 0.2) solid gray;
}

.arrow {
    height: calc(var(--scaling) * 0.2);
    font-weight: bold;
}

.sect.cont#overview {
    justify-content: flex-start;
}
.sect.cont#overview h2 {
    font-size: calc(var(--scaling) * 3);
    margin-bottom: calc(var(--scaling) * 5);
}

.timeline {
    width: 100%;
    position: absolute;
    padding: calc(var(--scaling) * 1);
    margin-top: calc(var(--scaling) * 4);
    display: flex;
    justify-content: center;
    pointer-events: auto;
    cursor: default;
}
.timeline::before {
    content: "";
    position: absolute;
    top: calc(var(--scaling) * 2);
    left: 5%;
    right: 5%;
    height: calc(var(--scaling) * 0.3);
    border-radius: calc(var(--scaling) * 0.1);
    transform: translateY(-50%);
    background: white;
    z-index: 0;
}
.timelineItem {
    position: relative;
    width: calc(var(--scaling) * 10);
    margin: 0 calc(var(--scaling) * 0.5);
    padding: calc(var(--scaling) * 0.15) calc(var(--scaling) * 0.3) calc(var(--scaling) * 0.3) calc(var(--scaling) * 0.3);
    text-align: center;
    background: #f9f9f9;
    border-radius: calc(var(--scaling) * 0.2);
    transition: max-height 0.3s ease;
    max-height: calc(var(--scaling) * 2);
    overflow: hidden;
    z-index: 1;
}
.timelineItem:hover {
    max-height: 70vh;
}
.timelineBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.timelineBox h3 {
    font-size: calc(var(--scaling) * 1);
    height: calc(var(--scaling) * 1);
}
.timelineBox p {
    font-size: calc(var(--scaling) * 0.5);
}
.timelineDetails {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: dimgray;
    font-size: calc(var(--scaling) * 0.5);
}
.timelineDetails ul {
    font-style: italic;
    text-align: left;
    padding-left: calc(var(--scaling) * 1);
}
.timelineItem:hover {
    max-height: calc(var(--scaling) * 15);
}
.timelineItem:hover .timelineDetails {
    opacity: 1;
}

.hexagon {
    width: var(--hexagon-width);
    height: var(--hexagon-height);
    background-color: black;
    border-radius: var(--hexagon-border);
    position: relative;
    transform: translate(-50%, -50%);
    display: inline-block !important;
    z-index: 2;
    margin: calc(var(--hexagon-height) / 3) var(--hexagon-margin-side);
}
.hexagon:before, .hexagon:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: var(--hexagon-border);
    position: absolute;
}
.hexagon:before {
    transform: translate(-50%) rotate(60deg);
}
.hexagon:after {
    transform: translate(-50%) rotate(-60deg);
}
.hexagon p {
    --font-size-p: calc(var(--hexagon-scaling) * .1vh);

    z-index: 3;
    position: absolute;
    color: white;
    padding: calc(var(--hexagon-scaling) * 0.05) calc(var(--hexagon-scaling) * 0.05);
    font-size: calc(var(--hexagon-scaling) * .12vh);
    line-height: calc(var(--font-size-p) + 0.5vh);
    max-height: var(--hexagon-height);
}
.hexagon p b{
    --font-size-b: calc(var(--hexagon-scaling) * .15vh);

    z-index: 3;
    color: white;
    font-size: var(--font-size-b);
}
.coding-exp.hexagon, .coding-exp.hexagon:before, .coding-exp.hexagon:after {
    background-color: mediumseagreen !important;
}

.other-exp.hexagon, .other-exp.hexagon:before, .other-exp.hexagon:after {
    background-color: steelblue !important;
}
.exp-sect {
    padding: calc(var(--hexagon-width) / 1.6) 0 0 calc(var(--hexagon-width) / 2 + var(--hamburger-margin) * 4);
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
}
.first {
        margin-left: calc(var(--hexagon-width) + 3.8 * var(--hexagon-margin-side));
}
.last {
    margin-right: calc(var(--hexagon-width) + 3.8 * var(--hexagon-margin-side));
}
.vivienne {
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: inherit;
    color: pink;
    text-decoration: none;
}
.title:hover .vivienne {
    opacity: 1;
    transform: translateX(0);
}