.sect.cont.apps {
    background-image: url("https://shared.gangdev.co/files/img/background/apps_background_1.jpg");
}
.sect.cont.apps h1 {
    font-size: calc(var(--scaling) * 2);
    font-weight: normal;
    letter-spacing: calc(var(--scaling) * 0.01);
}