* {
    margin: 0;
    font-family: "Fredoka", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

h1 {
    font-size: calc(var(--scaling) * 3) !important;
    padding: 0 !important;
    height: calc(var(--scaling) * 2.9);
}
h2 {
    font-size: calc(var(--scaling) * 1.5) !important;
    padding: 0 !important;
    height: calc(var(--scaling) * 1);
}

.deleteContainer p {
    font-size: calc(var(--scaling) * 0.75) !important;
    text-align: center;
}

.mTop {
    margin-top: calc(var(--scaling) * 0.75) !important;
}

.deleteContainer {
    color: whitesmoke;
    background: #d9534f;
    box-shadow: 0 0 calc(var(--scaling) * 0.5) gray;
    display: inline-block;
    border-radius: calc(var(--scaling) * 0.17);
    padding: calc(var(--scaling) * 1.5);
    width: calc(var(--scaling) * 17);
    justify-items: center;
}

.error {
    color: yellow;
    margin-top: calc(var(--scaling) * 0.5);
}

.inputContainer {
    width: calc(var(--scaling) * 13.5);
    justify-items: left;
    text-align: left;
}
.inputContainer input {
    box-sizing: border-box;
    border-radius: calc(var(--scaling) * 0.17);
    padding: calc(var(--scaling) * 0.17);
    height: calc(var(--scaling) * 1.5);
    min-width: 100%;
    font-size: calc(var(--scaling) * 1);
    background: whitesmoke;
    border: none;
    transition: all 0.2s ease;
}

.submit {
    font-size: calc(var(--scaling) * 1.2) !important;
    padding: calc(var(--scaling) * 0.5) calc(var(--scaling) * 0.7);
    background: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: calc(var(--scaling) * 0.5);
    box-shadow: calc(var(--scaling) * 0.05) calc(var(--scaling) * 0.1) gray;
    transition: all 0.2s ease;
}

.centeredDiv {
    display: flex;
    justify-content: center;
}

input:hover {
    transform: scale(1.01);
}

.submit:hover {
    transform: scale(1.05);
    font-weight: bold;
}