:root {
    --scaling: 1.5vh;
}

/* phone */
@media screen and (max-width: 768px) {
    :root {
        --scaling: 2vw;
    }
}

/* phone portrait */
@media screen and (max-width: 480px) {
    :root {
        --scaling: 2.5vw;
    }
}

* {
    margin: 0;
    font-family: "Fredoka", serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

h1 {
    font-size: calc(var(--scaling) * 6) !important;
    padding: 0 !important;
    height: calc(var(--scaling) * 5.8);
}
h2 {
    font-size: calc(var(--scaling) * 3) !important;
    padding: 0 !important;
    height: calc(var(--scaling) * 2);
}

p {
    font-size: calc(var(--scaling) * 1.5) !important;
    text-align: center;
}

.mTop {
    margin-top: calc(var(--scaling) * 1.5) !important;
}

.deleteContainer {
    color: whitesmoke;
    background: #d9534f;
    box-shadow: 0 0 calc(var(--scaling) * 1) gray;
    display: inline-block;
    border-radius: calc(var(--scaling) * 0.35);
    padding: calc(var(--scaling) * 3);
    width: calc(var(--scaling) * 35);
    height: calc(var(--scaling) * 25);
    justify-items: center;
}

.inputContainer {
    width: calc(var(--scaling) * 27);
    justify-items: left;
    text-align: left;
}
.inputContainer input {
    box-sizing: border-box;
    border-radius: calc(var(--scaling) * 0.35);
    padding: calc(var(--scaling) * 0.35);
    height: calc(var(--scaling) * 3);
    min-width: 100%;
    font-size: calc(var(--scaling) * 2);
    background: whitesmoke;
    border: none;
    transition: all 0.2s ease;
}

.submit {
    font-size: calc(var(--scaling) * 2.4) !important;
    padding: calc(var(--scaling) * 0.2);
    margin: 0 calc(var(--scaling) * 0.5);
    width: calc(var(--scaling) * 9);
    height: calc(var(--scaling) * 4.5);
    background: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: calc(var(--scaling) * 1);
    box-shadow: calc(var(--scaling) * 0.1) calc(var(--scaling) * 0.2) gray;
    transition: all 0.2s ease;
}

input:hover {
    transform: scale(1.01);
}

.submit:hover {
    transform: scale(1.05);
    font-weight: bold;
}